<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <system.web>
      <compilation debug="false" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>
  <connectionStrings>
    <add name="mycon" connectionString="Server=19669034-fb52-42c9-bc02-a437006928e2.sqlserver.sequelizer.com;Database=db19669034fb5242c9bc02a437006928e2;User ID=bernpkrbqkruuovi;Password=dLqPzHtwoht7EkNieWgQVBgXCab2o2AKkA5xqt2BYrrDeRDCRET8ziEJDAkyFAiu;"/>
  </connectionStrings>

</configuration>
